<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikhwankoto.cameraandcamerax">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".useCase.detectFromPicture.DetectFromPictureActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".useCase.cameraIntent.SimpleCameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".useCase.cameraX.CameraXActivity" />
        <activity android:name=".useCase.detectText.DetectTextActivity" /> <!-- Automatically download the text recognition model after app install -->
        <meta-data
            android:name="com.google.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>